body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
/* Common classes */

.container{
    width: 1420px;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    
}
.bg-white{
    background: white;
}
.padding-x {
    padding: 15px 30px;
    box-sizing: border-box;
}

/* İnfo SEecction Start */
#info{
    background-color: #f3f4f7;
    padding: 15px 0px;
    
}

.info-contact, .info-social{
    display: flex;

}
.info-social-element, .info-contact-element{
    margin-right: 20px;
}
.info-contact-element i, .info-social-element span{
    color: #4eaf4e;
}
.info-social-element i{
    margin: 0px 5px;
}
.info-contact-element i{
 margin-right: 10px;
}
/* İnfo SectionEnd */
/* Navbar Section Start */
#navbar{
    background-color: #f3f4f7;
}
.navbar-nav{
    display: flex;
    align-items: center;
}
.navbar-nav ul{
    display: flex;
}
.navbar-nav ul li a{
    color: black;
    text-decoration: none;
    margin: 0px 15px;
}
.navbar-nav ul li input{
    margin: 0px 10px;
    border: none;
    border-bottom: 1px solid grey;
}
.navbar-nav ul li i{
    margin-left: -16px;
}
/* Navbar Section End */

/* Header Start */
#Header-area{
    background-color: #1b2232;
    padding: 20px 0px;

}
.move-container{
    width: 1320px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header-container-element{
    display: flex;
    align-items: center;
}
.header-container-element h{
    
    color: white;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    
}
.header-container-element i{
    color: #4eaf4e;
    font-size: 40px;
}

/* Header End */

/* More info Start */

#More-info{
    background-color: #F3F4F7 ;
    padding: 80px 0px;
}
.More-info-subelement {
    display: flex;
    align-items: center;
    padding: 10px 0px;   
}
.More-info-subelement i{
    margin-right: 10px;
    color: green;
}
.More-info-element ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.More-info-element span{
    display: flex;
    padding: 10px 0px;
}
.More-info-element h2{
    font-family: 'Manrope', sans-serif;
    font-size: large;
    font-weight: 600;
    padding-bottom: 10px;
    
}
.More-info-element ul li a, .More-info-subelement p{
    font-size: 15.5px;
    font-family: 'Poppins', sans-serif;
    color: #6f6f6f;
}
.More-info-element span{
    font-size: 15.5px;
    font-family: 'Poppins', sans-serif;
    color: #6f6f6f;
    line-height: 20px;
}
.More-info-element input{
    font-size: 25px;
}
.More-info-element i i {
    background-color: #1b2232;
    color: white;
    font-size: 30px;
    padding-bottom: 4px;
    margin-left: -30px;
    
}
.More-info-element p{
    line-height: 20px;

}
/* More-info END */




